<!--Recipe-->
<div id="recipe" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer;">
      <li class="view"><a tabindex="-1"><i class="fa fa-eye pull-right"> </i> <span>View More Details</span></a></li>
      <li class="edit"><a tabindex="-1"><i class="fa fa-pencil pull-right"> </i> <span>Edit Recipe</span></a></li>
      <li class="delete"><a tabindex="-1"><i class="fa fa-trash pull-right"> </i> <span>Delete Recipe</span></a></li>
    </ul>
</div>




















<div id="ddm_cols" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      	<li><a tabindex="-1"><i class="fa fa-check-square-o" ></i>Id</a></li>

    </ul>
</div>
<div id="ddm_candidates" class="dropdown clearfix ">
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="profile"><a tabindex="-1">Go to Profile</a></li>
      <li class="edit"><a tabindex="-1">Edit</a></li>
      <li class="divider"></li>
<!--  <li class="emailsend"><a tabindex="-1">Send Email</a></li>
      <li class="smssend"><a tabindex="-1">Send SMS</a></li>
      <li class="noticesend"><a tabindex="-1">Send Notice</a></li>-->
      <li class="dropdown-submenu">
       		<a tabindex="-1" href="#">Communication</a>
            <ul class="dropdown-menu">
              <li class="emailsend"><a tabindex="-1">Send Email</a></li>
              <li class="smssend disabled"><a tabindex="-1">Send SMS</a></li>
              <li class="noticesend disabled"><a tabindex="-1">Send to APP</a></li>
              <li class="callskype disabled"><a tabindex="-1">Skype Call</a></li>
              <li class="dropdown-submenu">
                <a href="#">Social</a>
                <ul class="dropdown-menu">
                    <li class="disabled"><a tabindex="-1">WhatsApp</a></li>
                    <li class="disabled"><a tabindex="-1">Facebook</a></li>
                    <li class="disabled"><a tabindex="-1">Tweeter</a></li>
                </ul>
              </li>
            </ul>
       </li>
      <li class="divider"></li>
      <li class="dropdown-submenu">
       		<a tabindex="-1" href="#">Short lists</a>
            <ul class="dropdown-menu">
              	<li class="addremlist"><a tabindex="-1">Manage Candidates' lists</a></li>
      			<li class="addnewlist"><a tabindex="-1">Add to new List</a></li>
                <li class="shortlist"><a tabindex="-1">Go to Shortlist</a></li>
            </ul>
       </li>
       <li class="dropdown-submenu ddm_filter hidden">
            <a tabindex="-1" href="#" class="">Filters</a>
            <ul class="dropdown-menu">
            	<li class="newfilter"><a tabindex="-1">New Filter</a></li>
                <li class="divider"></li>
                <li class="addtofinalist"><a tabindex="-1">Move to Final List</a></li>
                <li class="addtoreject"><a tabindex="-1">Move to Rejected</a></li>
                <li class="addtohired"><a tabindex="-1">Move to Hired</a></li>
                <li class="divider"></li>

                <li class="dropdown-submenu  ddm_filter hidden">
                    <a tabindex="-1" href="#" class="">Move To</a>
                    <ul class="dropdown-menu movetofilters"> </ul>
               </li>
            </ul>
       </li>
       <li class="dropdown-submenu ddm_score hidden">
       		<a tabindex="-1" href="#">Scores</a>
            <ul class="dropdown-menu">
              	<li class="can_score"><a tabindex="-1">Candidate's Score</a></li>
      			<li class="score_set"><a tabindex="-1">Set Scoring Areas</a></li>
            </ul>
       </li>
       <li class="divider"></li>
       <li class="dropdown-submenu">
       		<a tabindex="-1" href="#">Tools</a>
            <ul class="dropdown-menu">
      			<li class="fav_list"><a tabindex="-1">Favorite</a></li>
                <li class="blacklist"><a tabindex="-1">Black-list</a></li>
            </ul>
       </li>
      <li class="divider"></li>

    </ul>
</div>
<div id="ddm_vacancies" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="edit"><a tabindex="-1">Edit Post</a></li>
      <li class="view"><a tabindex="-1">View Post</a></li>
      <li class="addinterview"><a tabindex="-1">Attach a Questionnaire</a></li>
      <li class="divider"></li>
      <li class="publish"><a tabindex="-1">Publish</a></li>
      <li class="depublish"><a tabindex="-1">Un-Publish</a></li>
      <li class="pom"><a tabindex="-1">Admin Only</a></li>
      <li class="delete"><a tabindex="-1">Delete Post</a></li>
      <li class="divider"></li>
      <li class="viewApplicants"><a tabindex="-1">View Applicants</a></li>
      <li class="geturl"><a tabindex="-1">Get URL</a></li>
    </ul>
</div>
<div id="ddm_interviews" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="edit"><a tabindex="-1">Edit Questionnaire</a></li>
      <li class="view"><a tabindex="-1">View Status</a></li>
      <li class="delete"><a tabindex="-1">Delete Questionnaire</a></li>
    </ul>
</div>
<div id="ddm_approvals" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="edit"><a tabindex="-1">Open/Edit</a></li>
      <li class="approve"><a tabindex="-1">Approve</a></li>
      <li class="reject"><a tabindex="-1">Reject</a></li>
    </ul>
</div>
<div id="ddm_scheduledint" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="reschedule"><a tabindex="-1">Re-schedule</a></li>
      <li class="delete"><a tabindex="-1">Delete</a></li>
      <li class="divider"></li>
      <li class="marking"><a tabindex="-1">Mark Questionnaire </a></li>
      <li class="viewperf"><a tabindex="-1">View Perfomance</a></li>
      <li class="divider"></li>
      <li class="edit_interview"><a tabindex="-1">Edit Questionnaire</a></li>
    </ul>
</div>
<div id="ddm_interviewmark" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="domark"><a tabindex="-1">Go to results</a></li>
      <li class="divider"></li>
      <li class="addremlist"><a tabindex="-1">Candidate Lists</a></li>
      <li class="addnewlist"><a tabindex="-1">Add to new Lists</a></li>
      <li class="divider"></li>
      <li class="emailsend"><a tabindex="-1">Send Email</a></li>
      <li class="smssend"><a tabindex="-1">Send SMS</a></li>
      <li class="noticesend"><a tabindex="-1">Send Notice</a></li>
    </ul>
</div>
<div id="ddm_courses" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="edit"><a tabindex="-1">Edit</a></li>
      <li class="delete"><a tabindex="-1">Delete</a></li>
    </ul>
</div>
<div id="ddm_clients" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="edit"><a tabindex="-1">Edit</a></li>
      <li class="new"><a tabindex="-1">New Job</a></li>
      <li class="view"><a tabindex="-1">View Jobs</a></li>
      <li class="divider"></li>
      <li class="delete"><a tabindex="-1">Delete</a></li>
    </ul>
</div>


<div id="manlists" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="new"><a tabindex="-1">New List</a></li>
      <li class="divider"></li>
      <li class="rename"><a tabindex="-1">Rename List</a></li>
      <li class="empty"><a tabindex="-1">Empty List</a></li>
      <li class="delete"><a tabindex="-1">Delete List</a></li>
    </ul>
</div>
<div id="thecourses" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="new"><a tabindex="-1">New Course</a></li>
      <li class="divider"></li>
      <li class="edit"><a tabindex="-1">Edit Course</a></li>
      <li class="delete"><a tabindex="-1">Delete Course</a></li>
      <li class="divider"></li>
      <li class="approve"><a tabindex="-1">Approve Course</a></li>
      <li class="reject"><a tabindex="-1">Reject Course</a></li>
    </ul>
</div>
<div id="thejobtypes" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="newcat"><a tabindex="-1">New Industry/Category</a></li>
      <li class="new"><a tabindex="-1">New Jobtype</a></li>
      <li class="divider"></li>
      <li class="edit"><a tabindex="-1">Edit Jobtype</a></li>
      <li class="delete"><a tabindex="-1">Delete Jobtype</a></li>
      <li class="divider"></li>
      <li class="approve"><a tabindex="-1">Approve Jobtype</a></li>
      <li class="reject"><a tabindex="-1">Reject Jobtype</a></li>
    </ul>
</div>
<div id="theusers" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="new"><a tabindex="-1">New User</a></li>
      <li class="divider"></li>
      <li class="edit"><a tabindex="-1">Edit User</a></li>
      <li class="delete"><a tabindex="-1">Delete User</a></li>
      <li class="reset"><a tabindex="-1">Reset Password</a></li>
      <li class="divider"></li>
      <li class="approve"><a tabindex="-1">Activate User</a></li>
      <li class="reject"><a tabindex="-1">Deactivate User</a></li>
    </ul>
</div>
<div id="thecontactus" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="markasread"><a tabindex="-1">Mark as read</a></li>
      <li class="markasunread"><a tabindex="-1">Mark as unread</a></li>
      <li class="email"><a tabindex="-1">Email</a></li>
    </ul>
</div>
<div id="ddmapplicants" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;cursor:pointer">
      <li class="profile"><a tabindex="-1">Go to Profile</a></li>
      <li class="viewjob"><a tabindex="-1">View job</a></li>
      <li class="email"><a tabindex="-1">Send Email to Candidate</a></li>
    </ul>
</div>
